*{
    margin: 0px;
    padding: 0px;
}

body{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}

/* header  */
header{
    background-image: url('../img/herobgimage.png');
    background-position: right center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.561);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #ffffff56;
}

.social-media-icon{
    display: flex;
}
.social-media-icon > div{
    margin-right: 15px;
    padding: 7px 11px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}
.social-media-icon > div:hover{
    color: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
}
.hero{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000003d;
}
.hero > blockquote{
    width: 85%;
}
.hero > blockquote p{
    font-size: 2rem;
    color: #ffffff;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.hero > blockquote p::before{
    content: '\201D';
    font-size: 4rem;
    position: absolute;
    margin-top: -30px;
    margin-left: -20px;
}

.hero > blockquote p::after{
    content: '\201D';
    font-size: 4rem;
    position: absolute;
    margin-top: 15px;
}
.hero-dot{
    display: flex;
}
.hero-dot > div{
    margin-right: 10px;
    margin-top: 15px;
    color: rgb(218, 215, 212);
}

.hero-dot > div:nth-child(2){
   color: #ffffff;
}

/* header end  */

/* main text section start */
.main-text{
    display: flex;
    width: 85%;
    margin: 50px auto;
    align-items: center;
}
.main-text p{
    font-size: 1.4rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
}
.main-text > div{
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 50%;
    margin-left: 20px;
    box-shadow: -6px 5px 26px -12px rgba(0,0,0,0.75);
}
.main-text > div > i{
    color: #FF6584;
}

/* main text section end */

/* recent news section start */
.recent-news-section{
    margin: 50px 0px;
}

.recent-news-mobile{
    display: none;
}

.recent-news-section > h2{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.recent-news-section > h2::first-letter{
    color: #FF6584;
}
.recent-news{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 70px;
}
.recent-news > article > .content{
    height: 50%;
}
.recent-news > article > .img{
    height: 50%;
}
.recent-news > article > .content > h5{
    color: #FF6584;
    font-size: 1.2rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: bold;
    padding: 23px 5px 15px 5px;
}
.recent-news > article > .content > p{
    color: #000000;
    font-size: 1.1rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    padding: 5px 10px;
}

/* recently news section end */

/* departments section start  */
.depertment-section{
    width: 85%;
    margin: 50px auto;
}
.depertment-section > h2{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #7B7B7B;
}
.depertment-section > h2::first-letter{
    color: #FF6584;
}
.depertment-section > .all-departments{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 78px 104px;
    margin-top: 70px;
}
.all-departments > .deparetment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.all-departments > .deparetment > img{
    object-fit: cover;
}
.all-departments > .deparetment > h4{
    color: #7B7B7B;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 12px;
}
.all-departments > .deparetment > h4::first-letter{
    color: #FF6584;
}

.all-departments > .deparetment > h4:hover{
    color: #000000;
    cursor: pointer;
}

/* departments section end */

/* news network start */
.news-network-section{
    background-image: url('../img/news-network-bg.png');
    background-color: rgba(0, 0, 0, 0.335);
    background-size: cover;
    background-attachment: fixed;
    margin: 50px auto;
    padding: 40px 0px;
}
.news-network-section > h2{
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.news-network-section > h2 > span{
    color: #FF6584;
}
.subscribe-forms{
    width: 85%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.subscribe-form-left{
    position: relative;
}
.subscribe-form-left::after{
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    right: 0;
    content: '';
    background-color: #FF6584;
    margin-right: 25px;
}
.subscribe-form > h6{
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.subscribe-form > form > input[type=email]{
    background-color: #ffffff;
    padding: 11px 30px;
    border-radius: 38px;
    border: 0px;
    width: 55%;
}

.subscribe-form > form > input[type=submit]{
    background-color: #FF6584;
    padding: 11px 30px;
    border-radius: 38px;
    border: 0px;
    font: 1.2rem;
    color: #ffffff;
    margin-right: 27px;
}
.subscribe-form > p{
    width: 75%;
    color: #ffffff;
    margin: 30px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
}

/* new network end */

/* exhibition start */
.exhibition-section{
    margin: 50px 0px;
}
.exhibition-section > h2{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #7B7B7B;
}
.exhibition-section > h2::first-letter{
    color: #FF6584;
}
.exhibition-content{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 110px;
}
.exhibition-content > div:first-child{
    grid-column: 1/2;
    grid-row: 1/3;
    position: relative;
}

.exhibition-content > div:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
}

.exhibition-content > div:last-child{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
}
.exhibition-button-group{
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px 21px;
}
.exhibition-button-group > button:first-child{
    padding: 7px 44px;
    background-color: transparent;
    border: 2px solid #FF6584;
    font-size: 1.3rem;
    border-radius: 34px;
    color: #ffffff;
    margin-right: 15px;
}

.exhibition-button-group > button:last-child{
    padding: 7px 25px;
    background-color: #FF6584;
    color: #ffffff;
    font-size: 1.3rem;
    border: 0px;
    border-radius: 34px;
}
.exhibition-button-group > span{
    color: #FF6584;
    font-size: 1.3rem;
}

.exhibition-location{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    margin-bottom: 50px;
    margin-left: 30px;
    color: #ffffff;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}
.exhibition-location-icon{
    font-size: 1.3rem;
    color: #FF6584;
    padding: 0px 10px;
}

/* exhibition end */

/* initiatives start */
.initiatives-section{
    margin: 50px 0px;
}
.initiatives-section > h2{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #7B7B7B;
}
.initiatives-section > h2::first-letter{
    color: #FF6584;
}
.initiatives-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
    margin-top: 83px;
}

/* initiatives end */

/* footer start  */
footer{
    background-color: #000000;
    padding: 80px 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 85px;
}

.footer-location > h6{
    color: #FF6584;
    font-size: 1.4rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-location > p{
    color: #FF6584;
    font-size: 1rem;
}

/* responsive part */

@media screen and (max-width: 992px) {
    /* hero section responsive */
    .hero > blockquote p{
        font-size: 1.2rem;
        text-align: center;
    }

    .social-media-icon > div{
        font-size: 1.2rem;
    }

    .main-text p{
        font-size: 15px;
    }

    /* recent newes section  */

    .recent-news-desktop{
        display: none;
    }

    .recent-news-mobile{
        display: block;
    }

    .recent-news-section > h2 {
        font-size: 2.5rem;
    }

    .recent-news {
        grid-template-columns: repeat(1,1fr);
        margin-top: 50px;
        grid-row-gap: 30px;
    }

    .recent-news > article{
        padding: 8px 15px;
        box-shadow: -5px 8px 12px -7px rgba(0,0,0,0.49);
    }

    .recent-news > article > .content {
        height: auto;
    }
    
    .recent-news > article > .img {
        height: auto;
    }

    /* department section  */

    .depertment-section > h2{
        font-size: 2.5rem;
    }

    .depertment-section > .all-departments {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 49px 75px;
        margin-top: 47px;
    }

    .all-departments > .deparetment > h4 {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    /* news section  */
    .news-network-section > h2{
        font-size: 2.5rem;
    }
    .subscribe-form > h6 {
        text-align: center;
    }

    .subscribe-forms {
        margin: 20px auto;
        grid-template-columns: repeat(1,1fr);
    }

    .subscribe-form > form > input[type=email] {
        width: 45%;
    }

    .subscribe-form > form > input[type=submit] {
        margin-left: 7px;
    }

    .subscribe-form > p {
        color: #ffffff;
        margin: 21px 0px;
        font-size: 1rem;
        width: 100%;
    }

    .subscribe-form-left::before {
        position: absolute;
        height: 5px;
        width: 100%;
        bottom: 0;
        right: 0;
        content: '';
        background-color: #FF6584;
        margin-bottom: 5px;
    }
    .subscribe-form-left::after {
        position: absolute;
        height: 0;
        width: 100%;
        bottom: 0;
        right: 0;
        content: '';
        background-color: #FF6584;
        margin-bottom: 5px;
    }
    /* exhibition  */

    .exhibition-section > h2 {
        font-size: 2.5rem;
    }

    .exhibition-content {
        margin-top: 24px;
        overflow: hidden;
    }
    .exhibition-location{
        display: none;
    }
    .exhibition-button-group{
        display: none;
    }

    /* initiatives  */

    .initiatives-section > h2 {
        font-size: 2.5rem;
    }
    
    .initiatives-images{
        margin-top: 18px;
    }

    /* footer  */

    footer {
        padding: 45px 24px 20px 24px;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
    }

    .footer-location > h6{
        font-size: 1.1rem;
    }

    .footer-location > p {
        font-size: 0.9rem;
    }
}